*.pyc
*.o
debmarshal.egg-info
build
dist

debmarshal/config.py
c/debmarshpriv

# autogoo
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
.dirstamp
depcomp
install-sh
missing
stamp-h1
