#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

BASE=debian/debmarshal
DOCS=$(BASE)/usr/share/doc/debmarshal

install/debmarshal::
	/usr/bin/install -d $(BASE)/usr/lib/debmarshal
	/usr/bin/install src/* $(BASE)/usr/lib/debmarshal
	/usr/bin/install -d $(DOCS)/examples
	/usr/bin/install scripts/* $(DOCS)/examples
	[ ! -f ChangeLog ] || /usr/bin/install ChangeLog $(DOCS)
